body {
    /* padding-left: 8%; */
    /* margin-bottom: 5%; */
}
.cv{
    margin-bottom: 5%;
}

.image-card{
    display: block;
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;
}

.photo-Navigation{
    display: block;
    width: 100%;
    height: 550px;
    background-position: 0px -700px;
    background-image: url('photoback.jpg');
    padding-left: 4%;
    color: #fff;
}


.Navigation {
    background-color: #527bff;
    color: #fff;
    padding-left: 4%;
}
.main{
    padding-left: 6%;
}
.image{
    border-radius: 300px;
}

.app{
    border-radius: 10px;
    margin-left: 12%;
}